.irclock-android {
}

.irclock-android .irclock-time {
	font-size: 1em;
	line-height: 0.8;
}

.irclock-android .irclock-date {
	font-size: 0.15em;
	white-space: nowrap;
}

.irclock-fullscreen {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	color: #fff;
}

.irclock-snooze,
.irclock-stop {
	overflow: hidden;
	border: 3px solid #ccc;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	line-height: 200px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 25%;
	margin-left: -100px;
	margin-top: -100px;
	font-size: 20px;
}

.irclock-snooze svg {
	margin-top: -200px;
}

.irclock-stop {
	background-color: #099;
	left: 75%;
}